body {
  background: #cccc;
  width:100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.leaflet-radar {

        /* from leaflet-control-layers */
        border-radius: 5px;
        background: #fff;
        border: 2px solid rgba(0, 0, 0, 0.2);
        background-clip: padding-box;

        padding: 5px;
        height: 67.5px;
}

.leaflet-radar .leaflet-radar-timestamp {
        text-align: center;
}


.leaflet-wwa {

        /* from leaflet-control-layers */
        border-radius: 5px;
        background: #fff;
        border: 2px solid rgba(0, 0, 0, 0.2);
        background-clip: padding-box;

        padding: 5px;
        height: 25px;
}

.leaflet-watch {

        /* from leaflet-control-layers */
        border-radius: 5px;
        background: #fff;
        border: 2px solid rgba(0, 0, 0, 0.2);
        background-clip: padding-box;

        padding: 5px;
        height: 25px;
}

.mapHolder {
        position: relative;
        height: 100vh;
        width: 100vw;
        background: #cccc;
}
