body {
  background: #cccc;
  width:100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.satmenu {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30px;

}

.satholder {
  position: absolute;
  background-color: #cccc;
  top: 30px;
  height: 90vh;
  width: 100%;
}

.data1 {
  position: absolute;
  height: 100%;
  width: 50vw;
  left: 4vw;
}

.data2 {
  position: absolute;
  height: 100%;
  width: 50vw;
  right: 0vw;
}

.dropdown_domain1 {
  position: absolute;
  height: 30px;
  width: 100px;
  left: 5vw;
  top: 2px;
}

.dropdown_sector1 {
  position: absolute;
  height: 30px;
  width: 100px;
  left: 12vw;
  top: 2px;
}

.dropdown_product1 {
  position: absolute;
  height: 30px;
  width: 100px;
  left: 20vw;
}
