body {
  background: #5F708C;
  width:100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.tableHolder {
  height: 90vh;
  left: 2vw;
  right: 2vw;
  width: 96vw;
  position: absolute;
  top: 40px;
}

.table {
  background: rgba(214, 214, 194, 0.75);
  text-align: center;
  font-size: 9px;
  line-height: 5px
}

.clockholder {
  position: absolute;
  right: 1vw;
  width: 200px;
  height: 25px;
  top: 10px;
  text-align: center;
}

.dateholder {
  position: absolute;
  right: 20vw;
  width: 200px;
  height: 25px;
  top: 10px;
  text-align: center;
}

.submissionForm {
  position: absolute;
  left: 2vw;
  top: 5px;
  text-align: center;
}
